-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @checked[rating]
  = submit_tag 'Refresh', :id => "ratings_submit" 

%table#movies
  %thead
    %tr
      %th{:class => @title_css}
        %a{:id => :title_header, :href => movies_path({:id => :title_header})} Movie Title
      %th Rating
      %th{:class => @date_css}
        %a{:id => :release_date_header, :href => movies_path({:id => :release_date_header})} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

